* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.6)), url(/images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f07a71;
    display: block;
    margin: auto;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.nav-links ul li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 13px;
}

.text-box {
    width: 90%;
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    font-size: 13px;
    color: aliceblue;
    margin: 10px 0 40px;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #f07a71;
    background: #f07a71;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}


/* #icon {
    display: none;
}

#mainbox {
    font-size: 24px;
    cursor: pointer;
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition: .7s;
    -o-transition: .7s;
    color: aliceblue;
    display: none;
} */

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

nav .mainMenu {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

nav .mainMenu li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    display: inline-block;
    text-transform: uppercase;
    padding: 15px;
    line-height: 15px;
}

nav .openMenu {
    color: #fff;
    font-size: 25px;
    margin: 20px;
    cursor: pointer;
    display: none;
}

nav .mainMenu .closeMenu {
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    list-style: none;
    display: none;
}


/* courses section  */

.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.course h1 {
    font-size: 36px;
    font-weight: 600;
}

.course p {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    color: #777;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    cursor: pointer;
}

.course-col h3 {
    text-align: center;
    font-family: 600;
    margin: 10px 0;
}

.course-col:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}


/* campus section  */

.campus {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.campus h1 {
    font-size: 36px;
    font-weight: 600;
}

.campus p {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    color: #777;
}

.campus-col {
    flex-basis: 32%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
}

.campus-col img {
    width: 100%;
    display: block;
}

.campus-col .layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    cursor: pointer;
}

.layer:hover {
    background: rgba(226, 0, 0, 0.5);
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    opacity: 0;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}


/* facilities section  */

.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.facilities h1 {
    font-size: 36px;
    font-weight: 600;
}

.facilities p {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    color: #777;
}

.facilities-col {
    flex-basis: 31%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 30px;
    text-align: left;
    cursor: pointer;
}

.facilities-col img {
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.facilities-col p {
    padding: 0;
}

.facilities-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}


/* testimonial section  */

.testimonial {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.testimonial-col {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    text-align: left;
    background-color: #fff3f3;
    display: flex;
    cursor: pointer;
    -o-border-radius: 10px;
}

.testimonial-col img {
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.user-info p {
    padding: 0;
}

.user-info h3 {
    margin-top: 15px;
    text-align: left;
}

.user-info .fa {
    color: #f07a71;
}


/* Call to action section  */

.cta {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/banner2.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.cta h1 {
    color: aliceblue;
    margin-bottom: 40px;
    padding: 0;
}


/* footer section  */

.footer {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.footer h1 {
    margin-bottom: 25px;
    margin-top: 25px;
    font-weight: 600;
}

.icons .fab {
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    color: #f07a71;
}


/* about us page  */

#sub-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(/images/background.jpg);
    background-position: center;
    background-size: cover;
    background-color: #f07a71;
    text-align: center;
    color: aliceblue;
}

#sub-header h1 {
    margin-top: 80px;
}


/* about-us-content */

.about-us-content {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-content-col {
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-content-col img {
    width: 100%;
}

.about-content-col h1 {
    padding-top: 0;
}

.about-content-col p {
    padding: 15px 0 25px;
}

.about-btn {
    border: 1px solid #f07a71;
    color: #f07a71;
}

.about-btn:hover {
    color: aliceblue;
}


/* blog page design */

.blog-content {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.blog-left {
    flex-basis: 65%;
}

.blog-left img {
    width: 100%;
}

.blog-left h2 {
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}

.blog-left p {
    color: #777;
    padding: 0;
}

.blog-right {
    flex-basis: 32%;
}

.blog-right h3 {
    background: #f07a71;
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}

.categories-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f07a71;
    padding: 8px;
    flex-wrap: wrap;
}

.comment-box {
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}

.comment-box h3 {
    text-align: left;
}

.comment-form input,
.comment-box textarea {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-align: left;
    background: #f0f0f0;
}

.comment-form button {
    margin: 10px 0;
}